<header class="header">
    <div class="nav-brand">
        <a href="/admin">Ludovic Fontaine</a>
    </div>
    <nav class="navbar">
        <li class="nav-item">
            <a href="/admin" class="nav-link {{get.url == "admin" ? "active" : ""}}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="/admin/produits" class="nav-link {{get.url == "admin/produits" ? "active" : ""}}">Produits</a>
        </li>
    </nav>
</header>