@use "./includes/spaces";
@use "./includes/reset";
@use "./includes/col";
@use "./includes/flex";
@use "./includes/buttons";
@use "./includes/modals";
@use "./includes/admin/form";
@use "./includes/admin/medias";
@use "./includes/admin/sidebar";

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}

:root{
    --clr-main: #123abc;
    --clr-main__light: #234bcd;
    --clr-main__dark: #0129ab;
    
    --clr-light: #f4f4f4;
    --clr-grey: #c1c1c1;
    --clr-dark: #0a0a0a;
    
    --base-fs: 14px;

    --spaces-rem: 1.25rem;
    --spaces-em: 1.25em;
}

/**
 * <RESET>
 */

a, button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

button{
    outline: none;
    border: none;
    background: transparent;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

input{
    &[type="file"]{
        display: none;
    }
}

/**
 * </RESET>
 */

body{
    font-size: var(--base-fs);
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header{
    background: var(--clr-main);
    color: var(--clr-light);
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: var(--spaces-em);
}

p{
    line-height: 1.5;
}

.navbar{
    .nav-brand{
        padding: var(--spaces-em);
    }
    .nav-menu{
        list-style: none;
        .nav-item{
            .nav-link{
                display: block;
                padding: var(--spaces-em);
            }
        }
    }
}

main{
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

section{
    max-width: 100%;
    margin-inline: var(--spaces-rem);
    &.full{
        width: 100%;
    }
}

.sticky-wrapper{
    position: sticky;
    top: 0;
    background: white;
    padding: var(--spaces-rem);
    z-index: 1;
}

table{
    border-collapse: collapse;
    width: 100%;
    th, td{
        border: 2px solid var(--clr-grey);
        padding: var(--spaces-em);
        text-align: center;
    }
    td.actions{
        padding: 0;
        i{
            padding: var(--spaces-em);
        }
    }
}

button{
    &[class*="btn-"]{
        padding: var(--spaces-em);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        color: var(--clr-dark);
    }
    &.btn-main{
        background-color: var(--clr-main);
        box-shadow: 2px 2px 10px var(--clr-main__light);
    }
    &.btn-info{
        background-color: lightblue;
    }
    &.btn-success{
        background-color: lightgreen;
        box-shadow: 2px 2px 10px #90ee9075;
    }
    &.btn-warning{
        background-color: orange;
    }
    &.btn-danger{
        background-color: red;
    }
}

/**
 * ! A revoir le système de grille
 */
.two-columns{
    display: grid;
    gap: var(--spaces-rem);
    grid-template-columns: 1fr 1fr;
}